/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container{ 
    max-width: 1200px;
    margin: 0 auto;
}

/* GENERIC */

body{
    font-family: sans-serif;
}


/*  SECTION PALINDROMO */

#board {
   border: 2px solid black;
   border-radius: 20px;
   height: 150px;
   width:  400px;
   margin: 0 auto;
   line-height: 150px;
   vertical-align: middle;
   font-weight: bold;
}